@model LoginModel
@{
    ViewData["Title"] = "Giriş yap";
}
<main class="my-5">
    <partial name="_alert">

        <section class="container bg-white rounded">
            <form asp-controller="account" asp-action="girisyap" method="POST" class="form row">
                <div class="col-6 m-auto py-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <h1 class="mb-5 display-6">Üye Girişi</h1>
                            <div class="mb-3 form-floating">
                                <input asp-for="Eposta" id="floatingInput" type="email"
                                    class="form-control rounded-0 p-2-5">
                                <label for="floatingInput">E-posta</label>
                                <span asp-validation-for="Eposta" class="text-danger"></span>
                            </div>
                            <div class="mb-3 form-floating">
                                <input asp-for="Sifre" id="floatingPassword" type="password"
                                    class="form-control rounded-0 p-2-5">
                                <label for="floatingPassword">Şifre</label>
                                <span asp-validation-for="Sifre" class="text-danger"></span>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-danger rounded-0 p-2-5">Giriş Yap</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
</main>
@section Scripts{
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}