@{
    ViewData["Title"] = "Hakkımızda";
}
<main class="my-5">
    <section class="container bg-white rounded">
        <div class="row">
            <div class="col-8 m-auto py-5">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-5 display-6">Hakkımızda</h1>
                        <ul class="hakkimizda-list">
                            <li>
                                Siz de kan bağışçısı olarak başkalarına armağanda bulunun Her yıl binlerce insan,
                                bir kaza ya da hastalık sonucunda
                                kan bulamadığı için hayatını kaybetmektedir.
                            </li>
                            <li>
                                Kan ise üretilemeyen, tek kaynağı bağışçı olan bir ihtiyaç durumunda hayati önem
                                taşıyan bir dokudur.
                            </li>
                            <li>
                                “Kan Bağışı; yaşam için yapılan bir armağandır”. Kan bağışında bulunarak binlerce
                                insanın hayatını kurtaracaksınız.
                                Kan vermenin hiçbir yan etkisi bulunmamaktadır aksine kendi sağlığınız açısından
                                birçok hastalığın önüne
                                geçmiş olacaksınız.
                            </li>
                            <li>Kan Dostum; kan bağışında bulunmak isteyen kişilerin veya acil kan ihtiyacı
                                olan kişilerin isteklerini karşılamak üzere hazırlanmış ÜCRETSİZ bir bağış
                                platformudur.</li>
                            <li><b>Kan Dostum Bir Sosyal Sorumluluk Projesi'dir. Hiçbir Devlet Kurumu veya
                                    Özel Kuruluş ile bağlantısı yoktur!</b></li>
                            <li>Bu Site Sadece Kişiler Arasında İletişim Kurar. Kan Bağışı Organizasyonu Yetkili
                                Kurumlarca Yapılabilir.</li>
                            <li>Soru ve Sorunlarınız için; bizimle <a asp-controller="home"
                                    asp-action="iletisim">İletişim</a> sayfamızı
                                kullanarak bağlantıya geçebilirsiniz.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>