@{
    ViewData["Title"] = "Pozitif kan ilanları";
}
<main class="my-5">
    <div class="container bg-white py-5">
        <div class="row">
            <div class="col">Yapılacak</div>
        </div>
    </div>
</main>