@if (TempData["alert"] != null)
{
    var message = JsonConvert.DeserializeObject<AlertModel>(TempData["alert"] as String);
    <div class="container">
        <div class="alert alert-@message.Type alert-dismissible fade show" role="alert">
            <h5 class="alert-heading">@message.Title</h5>
            <hr class="my-2">
            @message.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

}