<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | KanBağışla</title>
    <!-- Bootstrap 5.1.3 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome 5.15.4 -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>

    @await Html.PartialAsync("_header")


    @RenderBody()


    @await Html.PartialAsync("_footer")
</body>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>